:root {
  --error-color: #dc3545;
  --success-color: #28a745;
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  box-sizing: border-box;
}
body {
  background-color: #dcdcdc;
}

.container {
  display: flex;
  gap: 20px;
  width: 55%;
  height: auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  background-color: #720e9e;
  border-radius: 5px;
  width: 250px;
}

.left-box {
  display: flex;
  flex-direction: column;
  width: 250px;
  /* background-color: blue; */
  padding: 20px 22px;
  /* padding-right: 60px; */
  color: #ffffff;
}

.icon {
  margin-bottom: 10px;
}

.tex-01 p {
  font-size: 16px;
  font-weight: thin;
}

.tex-02 p {
  font-size: 13px;
  font-weight: thin;
  margin-top: 10px;
}

.form-container {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* background-color: #f2f2f2; */
  padding: 30px;
  border-radius: 5px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

label {
  margin: 10px 0;
}

.form-field input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  /* margin-bottom: 20px; */
  border-radius: 5px;
  border: 1px solid #dcdcdc;
}

.checkbox-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 20px;
}

.checkbox-container label {
  /* font-family: ; */
  font-size: 10px;
  font-weight: 400;
  margin-left: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #720e9e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* .required-color {
  border-color: #ff4747;
} */
.form-field {
  /* width: 100%; */
  width: 340px;
  max-width: 100%;
  padding-bottom: 10px;
  /* border-color: 1px solid red; */
}

.form-field input:focus {
  outline: none;
}

/* .form-field .error input {
  border: 2px solid #dc3545;
}

.form-field .success input {
  border: 1px solid #37a137;
} */

.form-field small {
  color: #dc3545;
}

.form-field.error input {
  border-color: var(--error-color);
}

.form-field.success input {
  border-color: var(--success-color);
}

@media screen and (max-width: 800px) {
  .left {
    display: none;
  }
  form {
    padding: 0;
  }

  .container {
    /* height: 80%; */
    width: 90%;
    justify-content: center;
  }

  form {
    width: 100%;
    padding: 0px;
    padding-bottom: 60px;
  }

  form h2 {
    align-self: center;
    font-size: 30px;
    font-weight: 700;
  }

  .form-container {
    width: 100%;
  }

  button[type="submit"] {
    padding: 20px 20px;
  }
}
